* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

body {
    width: 950px;      
    margin: 0 auto;   
}

// HEADER
.header {
    display: grid;
    grid-template-columns: 15% 65% 13% 7%;
    padding: 20px 0 0 0;    
    margin: 0 auto;      
    width: 560px;
    padding: 0 2%;
    text-align: center;  
    background-color: black;
    color: #d9fec6;
    letter-spacing: 2px;
}

.header__text {
    padding: 10px 20px;
    font-size: 10px;
    line-height: 15px;

    & h1 {
        font-size: 11px;
    }
}

.header__sigla {
    padding-left: 29px;
    padding-top: 15px;
    font-size: 23px;
    line-height: 25px;
}

// REGRA GERAL PRO BODY DO CONTEÚDO
.body {
    width: 560px;
    margin: 0 auto;
    font-size: 10px;    
    background-color: #d9fec6;
}

// SIDEBAR
.sidebar {
    display: grid;
    grid-template-rows: 55% 45%;
    margin: 0;
    width: 75px;
    background-color: #d9fec6;
    color: black;
    float: left;
    height: 245px;

    h4 {
        color: #797e74;
    }
}

.sidebar__logo {
    width: 130px;
    padding-top: 30px;
    padding-right: 50px;
}

.sidebar__text {
    transform: rotate(270deg);
    text-align: center;
    height: 115px;

    p {
        font-size: 8px;
        font-weight: bold;
    }

    h4 {
        line-height: 25px;
        letter-spacing: 1px;
        font-size: 18px;
    }
}

// FORM
.name {
    padding-bottom: 2px;
    width: 523px;

    & input {
        width: 100%;
    }
}

.content {
    display: grid;
    grid-template-columns: 150px 300px;
    background-color: #d9fec6;
    color: black;
    height: 230px;
}

.content__left {
    display: grid;
    grid-template-rows: 160px 50px;
    
        & input[type=text] {
            width: 125px;
        }
}

.content__foto3x4 {
    margin: 0;
    padding: 10px 0 10px 10px;

    & label {
        cursor: pointer;
    }
}

.content__labelReg {
    padding-top: 30px;
}


.content__right {
    padding-top: 4px;

    & input {
        width: 100%;
        border-radius: 3px; 
    }

    & textarea {
        display: block;
        width: 100%;
        height: 69px;        
        border-radius: 3px;  
    }    

    & fieldset {
        margin: 1px 2px;
    }
}

// REGRAS DO FORM
input, textarea {
    background-color: #d9fec6;
    border: 0;
}

input[type="file"]{
    display: none;
}

input:focus, textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

fieldset {
    border: 0.2em solid black;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.fieldset_center {
    text-align: center;
}

.flex_line{
    display: flex;
}

input[type="submit"] {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    left: 83%;    

    &:hover {
        color: red;
    }
}

.errorInput {
    border: 0.2em solid red !important;
    color: red;
}